/* 모든 태그 의미 */
* {
    margin: 0;
    padding: 0;
    /* 부모가 감쌀 수 있도록 */
    box-sizing: border-box;
}

body {
    background-size: cover;
}

.container {
    /* 화면을 유연하게 정렬 */
    display: flex;
}

#main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.question {
    width: 50%;
    height: 20vh;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid gray;
    border-radius: 20px;
    /* background-color: blue; */
    align-items: center;
    justify-content: center;
    /* 투명도 */
    /* opacity: 50%; */
}



.choice {
    display: none;
    width: 50%;
    height: 45vh;
    flex-direction: column;
    align-items: center;
    /* 기본축의 간격을 고르게 */
    justify-content: space-evenly;
  
}

.choice-item {
    width: 100%;
    height: 30%;
    border: 3px solid gray;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    justify-content: center;
    /* 애니메이션 부드럽게 */
    transition: 0.6s;
    opacity: 50%;
}

.choice-item:hover {
    opacity: 100%;
}

