* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border까지 부모가 감쌀 수 있도록 */
}

body{
    background-color: aquamarine;
    background-size: cover;
}
.container {
    display: flex;
    /* 화면을 유연하게 정렬할 수 있다. */
}

#main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* 방향: 세로 */
    align-items: center;
    /* 중앙 정렬 */
    justify-content: space-between;
    /* 양 끝으로 */
}

.question {
    width: 50%;
    height: 20vh;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid gray;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
   
    /*opacity: 50%;*/   /*투명도*/
}


.choice {
    display: none;
    width: 50%;
    height: 45vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* 기본축의 간격을 고르게 */
    
}

.choice-item {
    width: 100%;
    height: 30%;
    border: 3px solid gray;
    border-radius: 20px;
    background-color: white;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    /* 애니메이션 부드럽게 */
    opacity: 50%;
}

.choice-item:hover {
    /* font-color X 폰트의 컬러는 그냥 color */
    opacity: 100%;
}
/* *은 모든 태그를 의미 */